In [1]:
# Create Spark Session
from pyspark.sql import SparkSession
spark = SparkSession \
    .builder \
    .appName("Factor of cores") \
    .master("local[*]") \
    .config("spark.executor.instances", "4") \
    .config("spark.executor.cores", "2") \
    .config("spark.executor.memory", "1G") \
    .config("spark.driver.memory", "4G") \
    .getOrCreate()
spark

In [ ]:
spark

In [2]:
sales_schema = """SalesOrder string, 
                    OrderDate string, 
                    CustomerName string, 
                    City string, 
                    Country string, 
                    Product string, 
                    Price string, 
                    Qty_Sold string, 
                    Qty_Sold_Units string, 
                    Amount integer, 
                    Amount_Currency string, 
                    ShipDate string"""

In [4]:
sales_df = spark.read.format("csv").option("header",True).schema(sales_schema).load("./Input/1_sales_orders.csv")

In [5]:
sales_df.show()

+----------+----------+------------+---------+-------+-------+-----+--------+--------------+------+---------------+----------+
|SalesOrder| OrderDate|CustomerName|     City|Country|Product|Price|Qty_Sold|Qty_Sold_Units|Amount|Amount_Currency|  ShipDate|
+----------+----------+------------+---------+-------+-------+-----+--------+--------------+------+---------------+----------+
|     SO101|08-01-2024|           1|Hyderabad|  India|      1| 3000|       4|        pieces| 12000|            INR|18-01-2024|
|     SO102|19-01-2024|           2|   Mumbai|  India|      2| 1500|       5|        pieces|  7500|            INR|29-01-2024|
|     SO103|01-01-2024|           3|     Pune|  India|      3| 1500|      10|        pieces| 15000|            INR|11-01-2024|
|     SO104|30-03-2024|           2|     Pune|  India|      4|10000|       8|        pieces| 80000|            INR|09-04-2024|
|     SO105|14-03-2024|           4|Ahmedabad|  India|      5| 8000|      10|        pieces| 80000|            INR|19-03-2024|
|     SO106|20-03-2024|           5|Hyderabad|  India|      6| 8000|      10|        pieces| 80000|            INR|25-03-2024|
|     SO107|10-03-2024|           1|   Mumbai|  India|      7|10000|       2|        pieces| 20000|            INR|15-03-2024|
|     SO108|03-04-2024|           4|     Pune|  India|      5| 8000|       1|        pieces|  8000|            INR|08-04-2024|
|     SO109|03-05-2024|           1|Ahmedabad|  India|      6|70000|       5|        pieces|350000|            INR|18-05-2024|
|    SO1010|01-05-2024|           4|Ahmedabad|  India|      6| 2000|       7|        pieces| 14000|            INR|16-05-2024|
|    SO1011|19-06-2024|           1|  Chennai|  India|      2| 2000|       1|        pieces|  2000|            INR|04-07-2024|
|    SO1012|08-07-2024|           3|   Mumbai|  India|      1| 3000|       5|        pieces| 15000|            INR|23-07-2024|
|    SO1013|14-08-2024|           4|   Mumbai|  India|      1|10000|      10|        pieces|100000|            INR|29-08-2024|
|    SO1014|02-09-2024|           5|Ahmedabad|  India|      3|10000|      10|        pieces|100000|            INR|17-09-2024|
|    SO1015|23-09-2024|           1|  Chennai|  India|      3| 8000|       6|        pieces| 48000|            INR|08-10-2024|
|    SO1016|20-01-2023|           4|Ahmedabad|  India|      7| 8000|       4|        pieces| 32000|            INR|09-02-2023|
|    SO1017|01-01-2023|           4|   Mumbai|  India|      1| 8000|       6|        pieces| 48000|            INR|21-01-2023|
|    SO1018|26-01-2023|           4|     Pune|  India|      3|10000|       5|        pieces| 50000|            INR|15-02-2023|
|    SO1019|18-02-2023|           3|   Mumbai|  India|      1| 2000|       5|        pieces| 10000|            INR|10-03-2023|
|    SO1020|24-03-2023|           1|     Pune|  India|      4| 5000|       5|        pieces| 25000|            INR|13-04-2023|
+----------+----------+------------+---------+-------+-------+-----+--------+--------------+------+---------------+----------+
only showing top 20 rows

In [6]:
sales_df.createTempView("sales_view")

In [7]:
spark.sql(""" select *, Amount * 0.10 as amountaftertax 
            from sales_view """).show()

+----------+----------+------------+---------+-------+-------+-----+--------+--------------+------+---------------+----------+--------------+
|SalesOrder| OrderDate|CustomerName|     City|Country|Product|Price|Qty_Sold|Qty_Sold_Units|Amount|Amount_Currency|  ShipDate|amountaftertax|
+----------+----------+------------+---------+-------+-------+-----+--------+--------------+------+---------------+----------+--------------+
|     SO101|08-01-2024|           1|Hyderabad|  India|      1| 3000|       4|        pieces| 12000|            INR|18-01-2024|       1200.00|
|     SO102|19-01-2024|           2|   Mumbai|  India|      2| 1500|       5|        pieces|  7500|            INR|29-01-2024|        750.00|
|     SO103|01-01-2024|           3|     Pune|  India|      3| 1500|      10|        pieces| 15000|            INR|11-01-2024|       1500.00|
|     SO104|30-03-2024|           2|     Pune|  India|      4|10000|       8|        pieces| 80000|            INR|09-04-2024|       8000.00|
|     SO105|14-03-2024|           4|Ahmedabad|  India|      5| 8000|      10|        pieces| 80000|            INR|19-03-2024|       8000.00|
|     SO106|20-03-2024|           5|Hyderabad|  India|      6| 8000|      10|        pieces| 80000|            INR|25-03-2024|       8000.00|
|     SO107|10-03-2024|           1|   Mumbai|  India|      7|10000|       2|        pieces| 20000|            INR|15-03-2024|       2000.00|
|     SO108|03-04-2024|           4|     Pune|  India|      5| 8000|       1|        pieces|  8000|            INR|08-04-2024|        800.00|
|     SO109|03-05-2024|           1|Ahmedabad|  India|      6|70000|       5|        pieces|350000|            INR|18-05-2024|      35000.00|
|    SO1010|01-05-2024|           4|Ahmedabad|  India|      6| 2000|       7|        pieces| 14000|            INR|16-05-2024|       1400.00|
|    SO1011|19-06-2024|           1|  Chennai|  India|      2| 2000|       1|        pieces|  2000|            INR|04-07-2024|        200.00|
|    SO1012|08-07-2024|           3|   Mumbai|  India|      1| 3000|       5|        pieces| 15000|            INR|23-07-2024|       1500.00|
|    SO1013|14-08-2024|           4|   Mumbai|  India|      1|10000|      10|        pieces|100000|            INR|29-08-2024|      10000.00|
|    SO1014|02-09-2024|           5|Ahmedabad|  India|      3|10000|      10|        pieces|100000|            INR|17-09-2024|      10000.00|
|    SO1015|23-09-2024|           1|  Chennai|  India|      3| 8000|       6|        pieces| 48000|            INR|08-10-2024|       4800.00|
|    SO1016|20-01-2023|           4|Ahmedabad|  India|      7| 8000|       4|        pieces| 32000|            INR|09-02-2023|       3200.00|
|    SO1017|01-01-2023|           4|   Mumbai|  India|      1| 8000|       6|        pieces| 48000|            INR|21-01-2023|       4800.00|
|    SO1018|26-01-2023|           4|     Pune|  India|      3|10000|       5|        pieces| 50000|            INR|15-02-2023|       5000.00|
|    SO1019|18-02-2023|           3|   Mumbai|  India|      1| 2000|       5|        pieces| 10000|            INR|10-03-2023|       1000.00|
|    SO1020|24-03-2023|           1|     Pune|  India|      4| 5000|       5|        pieces| 25000|            INR|13-04-2023|       2500.00|
+----------+----------+------------+---------+-------+-------+-----+--------+--------------+------+---------------+----------+--------------+
only showing top 20 rows

In [9]:
from pyspark.sql.functions import expr
sales_df.withColumn("Amountaftertax", expr("Amount * 0.10") ).show()

+----------+----------+------------+---------+-------+-------+-----+--------+--------------+------+---------------+----------+--------------+
|SalesOrder| OrderDate|CustomerName|     City|Country|Product|Price|Qty_Sold|Qty_Sold_Units|Amount|Amount_Currency|  ShipDate|Amountaftertax|
+----------+----------+------------+---------+-------+-------+-----+--------+--------------+------+---------------+----------+--------------+
|     SO101|08-01-2024|           1|Hyderabad|  India|      1| 3000|       4|        pieces| 12000|            INR|18-01-2024|       1200.00|
|     SO102|19-01-2024|           2|   Mumbai|  India|      2| 1500|       5|        pieces|  7500|            INR|29-01-2024|        750.00|
|     SO103|01-01-2024|           3|     Pune|  India|      3| 1500|      10|        pieces| 15000|            INR|11-01-2024|       1500.00|
|     SO104|30-03-2024|           2|     Pune|  India|      4|10000|       8|        pieces| 80000|            INR|09-04-2024|       8000.00|
|     SO105|14-03-2024|           4|Ahmedabad|  India|      5| 8000|      10|        pieces| 80000|            INR|19-03-2024|       8000.00|
|     SO106|20-03-2024|           5|Hyderabad|  India|      6| 8000|      10|        pieces| 80000|            INR|25-03-2024|       8000.00|
|     SO107|10-03-2024|           1|   Mumbai|  India|      7|10000|       2|        pieces| 20000|            INR|15-03-2024|       2000.00|
|     SO108|03-04-2024|           4|     Pune|  India|      5| 8000|       1|        pieces|  8000|            INR|08-04-2024|        800.00|
|     SO109|03-05-2024|           1|Ahmedabad|  India|      6|70000|       5|        pieces|350000|            INR|18-05-2024|      35000.00|
|    SO1010|01-05-2024|           4|Ahmedabad|  India|      6| 2000|       7|        pieces| 14000|            INR|16-05-2024|       1400.00|
|    SO1011|19-06-2024|           1|  Chennai|  India|      2| 2000|       1|        pieces|  2000|            INR|04-07-2024|        200.00|
|    SO1012|08-07-2024|           3|   Mumbai|  India|      1| 3000|       5|        pieces| 15000|            INR|23-07-2024|       1500.00|
|    SO1013|14-08-2024|           4|   Mumbai|  India|      1|10000|      10|        pieces|100000|            INR|29-08-2024|      10000.00|
|    SO1014|02-09-2024|           5|Ahmedabad|  India|      3|10000|      10|        pieces|100000|            INR|17-09-2024|      10000.00|
|    SO1015|23-09-2024|           1|  Chennai|  India|      3| 8000|       6|        pieces| 48000|            INR|08-10-2024|       4800.00|
|    SO1016|20-01-2023|           4|Ahmedabad|  India|      7| 8000|       4|        pieces| 32000|            INR|09-02-2023|       3200.00|
|    SO1017|01-01-2023|           4|   Mumbai|  India|      1| 8000|       6|        pieces| 48000|            INR|21-01-2023|       4800.00|
|    SO1018|26-01-2023|           4|     Pune|  India|      3|10000|       5|        pieces| 50000|            INR|15-02-2023|       5000.00|
|    SO1019|18-02-2023|           3|   Mumbai|  India|      1| 2000|       5|        pieces| 10000|            INR|10-03-2023|       1000.00|
|    SO1020|24-03-2023|           1|     Pune|  India|      4| 5000|       5|        pieces| 25000|            INR|13-04-2023|       2500.00|
+----------+----------+------------+---------+-------+-------+-----+--------+--------------+------+---------------+----------+--------------+
only showing top 20 rows

In [10]:
def sales_after_tax(amount):
    return (amount + (amount * 0.10))

In [15]:
import time 
def sales_after_tax(amount):
    time.sleep(10)
    return (amount + (amount * 0.10))

In [11]:
from pyspark.sql.functions import udf

sales_tax_udf = udf(sales_after_tax)

In [12]:


# from pyspark.sql.functions import expr
# sales_df.withColumn("Amountaftertax", expr("Amount * 0.10") ).show()
sales_df.withColumn("Amountaftertax",sales_tax_udf("Amount")).show()

+----------+----------+------------+---------+-------+-------+-----+--------+--------------+------+---------------+----------+--------------+
|SalesOrder| OrderDate|CustomerName|     City|Country|Product|Price|Qty_Sold|Qty_Sold_Units|Amount|Amount_Currency|  ShipDate|Amountaftertax|
+----------+----------+------------+---------+-------+-------+-----+--------+--------------+------+---------------+----------+--------------+
|     SO101|08-01-2024|           1|Hyderabad|  India|      1| 3000|       4|        pieces| 12000|            INR|18-01-2024|       13200.0|
|     SO102|19-01-2024|           2|   Mumbai|  India|      2| 1500|       5|        pieces|  7500|            INR|29-01-2024|        8250.0|
|     SO103|01-01-2024|           3|     Pune|  India|      3| 1500|      10|        pieces| 15000|            INR|11-01-2024|       16500.0|
|     SO104|30-03-2024|           2|     Pune|  India|      4|10000|       8|        pieces| 80000|            INR|09-04-2024|       88000.0|
|     SO105|14-03-2024|           4|Ahmedabad|  India|      5| 8000|      10|        pieces| 80000|            INR|19-03-2024|       88000.0|
|     SO106|20-03-2024|           5|Hyderabad|  India|      6| 8000|      10|        pieces| 80000|            INR|25-03-2024|       88000.0|
|     SO107|10-03-2024|           1|   Mumbai|  India|      7|10000|       2|        pieces| 20000|            INR|15-03-2024|       22000.0|
|     SO108|03-04-2024|           4|     Pune|  India|      5| 8000|       1|        pieces|  8000|            INR|08-04-2024|        8800.0|
|     SO109|03-05-2024|           1|Ahmedabad|  India|      6|70000|       5|        pieces|350000|            INR|18-05-2024|      385000.0|
|    SO1010|01-05-2024|           4|Ahmedabad|  India|      6| 2000|       7|        pieces| 14000|            INR|16-05-2024|       15400.0|
|    SO1011|19-06-2024|           1|  Chennai|  India|      2| 2000|       1|        pieces|  2000|            INR|04-07-2024|        2200.0|
|    SO1012|08-07-2024|           3|   Mumbai|  India|      1| 3000|       5|        pieces| 15000|            INR|23-07-2024|       16500.0|
|    SO1013|14-08-2024|           4|   Mumbai|  India|      1|10000|      10|        pieces|100000|            INR|29-08-2024|      110000.0|
|    SO1014|02-09-2024|           5|Ahmedabad|  India|      3|10000|      10|        pieces|100000|            INR|17-09-2024|      110000.0|
|    SO1015|23-09-2024|           1|  Chennai|  India|      3| 8000|       6|        pieces| 48000|            INR|08-10-2024|       52800.0|
|    SO1016|20-01-2023|           4|Ahmedabad|  India|      7| 8000|       4|        pieces| 32000|            INR|09-02-2023|       35200.0|
|    SO1017|01-01-2023|           4|   Mumbai|  India|      1| 8000|       6|        pieces| 48000|            INR|21-01-2023|       52800.0|
|    SO1018|26-01-2023|           4|     Pune|  India|      3|10000|       5|        pieces| 50000|            INR|15-02-2023|       55000.0|
|    SO1019|18-02-2023|           3|   Mumbai|  India|      1| 2000|       5|        pieces| 10000|            INR|10-03-2023|       11000.0|
|    SO1020|24-03-2023|           1|     Pune|  India|      4| 5000|       5|        pieces| 25000|            INR|13-04-2023|       27500.0|
+----------+----------+------------+---------+-------+-------+-----+--------+--------------+------+---------------+----------+--------------+
only showing top 20 rows

In [16]:
# spark sql
from pyspark.sql.functions import udf

spark.udf.register("_fn_cal_amt_after_tax",sales_after_tax, "double")

In [17]:
spark.sql(""" select *, _fn_cal_amt_after_tax(Amount) as amountaftertax 
            from sales_view """).show()

+----------+----------+------------+---------+-------+-------+-----+--------+--------------+------+---------------+----------+--------------+
|SalesOrder| OrderDate|CustomerName|     City|Country|Product|Price|Qty_Sold|Qty_Sold_Units|Amount|Amount_Currency|  ShipDate|amountaftertax|
+----------+----------+------------+---------+-------+-------+-----+--------+--------------+------+---------------+----------+--------------+
|     SO101|08-01-2024|           1|Hyderabad|  India|      1| 3000|       4|        pieces| 12000|            INR|18-01-2024|       13200.0|
|     SO102|19-01-2024|           2|   Mumbai|  India|      2| 1500|       5|        pieces|  7500|            INR|29-01-2024|        8250.0|
|     SO103|01-01-2024|           3|     Pune|  India|      3| 1500|      10|        pieces| 15000|            INR|11-01-2024|       16500.0|
|     SO104|30-03-2024|           2|     Pune|  India|      4|10000|       8|        pieces| 80000|            INR|09-04-2024|       88000.0|
|     SO105|14-03-2024|           4|Ahmedabad|  India|      5| 8000|      10|        pieces| 80000|            INR|19-03-2024|       88000.0|
|     SO106|20-03-2024|           5|Hyderabad|  India|      6| 8000|      10|        pieces| 80000|            INR|25-03-2024|       88000.0|
|     SO107|10-03-2024|           1|   Mumbai|  India|      7|10000|       2|        pieces| 20000|            INR|15-03-2024|       22000.0|
|     SO108|03-04-2024|           4|     Pune|  India|      5| 8000|       1|        pieces|  8000|            INR|08-04-2024|        8800.0|
|     SO109|03-05-2024|           1|Ahmedabad|  India|      6|70000|       5|        pieces|350000|            INR|18-05-2024|      385000.0|
|    SO1010|01-05-2024|           4|Ahmedabad|  India|      6| 2000|       7|        pieces| 14000|            INR|16-05-2024|       15400.0|
|    SO1011|19-06-2024|           1|  Chennai|  India|      2| 2000|       1|        pieces|  2000|            INR|04-07-2024|        2200.0|
|    SO1012|08-07-2024|           3|   Mumbai|  India|      1| 3000|       5|        pieces| 15000|            INR|23-07-2024|       16500.0|
|    SO1013|14-08-2024|           4|   Mumbai|  India|      1|10000|      10|        pieces|100000|            INR|29-08-2024|      110000.0|
|    SO1014|02-09-2024|           5|Ahmedabad|  India|      3|10000|      10|        pieces|100000|            INR|17-09-2024|      110000.0|
|    SO1015|23-09-2024|           1|  Chennai|  India|      3| 8000|       6|        pieces| 48000|            INR|08-10-2024|       52800.0|
|    SO1016|20-01-2023|           4|Ahmedabad|  India|      7| 8000|       4|        pieces| 32000|            INR|09-02-2023|       35200.0|
|    SO1017|01-01-2023|           4|   Mumbai|  India|      1| 8000|       6|        pieces| 48000|            INR|21-01-2023|       52800.0|
|    SO1018|26-01-2023|           4|     Pune|  India|      3|10000|       5|        pieces| 50000|            INR|15-02-2023|       55000.0|
|    SO1019|18-02-2023|           3|   Mumbai|  India|      1| 2000|       5|        pieces| 10000|            INR|10-03-2023|       11000.0|
|    SO1020|24-03-2023|           1|     Pune|  India|      4| 5000|       5|        pieces| 25000|            INR|13-04-2023|       27500.0|
+----------+----------+------------+---------+-------+-------+-----+--------+--------------+------+---------------+----------+--------------+
only showing top 20 rows

In [ ]:
sales_df.createOrReplaceTempView("sales_view")

In [ ]:
spark.sql("select * from sales_view").show(truncate=False)

In [ ]:
spark.sql("select *,sales_tax_function(Amount) as AmountAfterTax from sales_view").show(truncate=False)

In [18]:
spark.stop()